<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to crazycats.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to receive Crazy Cat Facts!
      your username is: <%= @user.login %>.<br />
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Bonus Cat Fact: Did you know that cats aren't dogs? :O</p>
  </body>
</html>
